html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}
/* Create a flex container to arrange elements horizontally */
.container {
    display: flex;
    align-items: center; /* Center vertically */
    height: 80%;
    width: 100%;
    padding: 10px;
}

/* Style the elements */
h1 {
    margin: 10px; /* Add some spacing between elements */
    font-size: xx-large;
}

textarea {
    flex-grow: 1; /* Allow the textarea to expand and fill available space */
    resize: none; /* Prevent the textarea from being resized */
    width: 100%;
    height: 100%;
    font-size: xxx-large;
}

#outputDiv {
    text-align: left;
    border: 1px solid #ccc; /* Add a border to the output div */
    background-color: #000044;
    padding: 0 10px 0 10px; /* Add some padding to the output div */
    width: 100%;
    height: 100%;
    font-size: xxx-large;
    overflow: auto;
}
.master {
    color:lightgreen;
}
.string {
    color:darkgoldenrod;
}
.separator {
    color: lightcoral;
}
.var_type {
    color:lightseagreen;
}
.general {
    color:yellow;
}
.empty {
    color:grey;
}
.comment {
    color:darkgreen;
    font-weight: bold;
}
.operator {
    color:lightpink;
}
.number {
    color:lightblue;
}
.extension {
    color:lightcoral;
}
.bracket0 {
    color: crimson;
}
.bracket1 {
    color: darkorange;
}
.bracket2 {
    color: darkorchid;
}